<app-customer-stats></app-customer-stats>
<div class="tabs">
    <mat-card>
        <div class="row">
            <mat-tab-group class="col-md-12">
                <mat-tab label="Customers">
                    <!--Customers-->
                    <app-customer-info></app-customer-info>
                </mat-tab>
                <mat-tab label="Customer Groups">
                    <!--Customer Groups-->
                    <app-customer-group-info></app-customer-group-info>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-card>
</div>