.container {
    padding: 100px;
    margin: 0 auto;
    width: 700px;
}

.row {
	margin-bottom: 40px;
}

.picsum-img-wrapper {
    width: 100%;
    height: 80vh;
}

.carousel_image {
    width: 100%;
    height: 80vh;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  filter: alpha(opacity = 100) /* required for opacity to work in IE*/;
  transition: .3s ease;
  background-color: #000000;
}

.carousel-caption {
  width: 80%;
  margin-right: 10%;
  top: 0;
  transform: translateY(-50%);
  transform: translateX(-4%);
  text-align: left;
  padding-left: 0;
}

.carousel-caption h3 {
  font-size: 25px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
}

.carousel-caption h2 {
  font-size: 65px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
}

.carousel-caption p {
  text-shadow: 1px 1px #000000;
}

.price_card_in{
  font-family: cursive;
}

.discover_button {
  background:  #d87093;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 0;
  margin: 0 0 0 3px;
  height: 50px;
  width: 200px;
}

.add_to_button {
  background:  #d87093;
  font-size: 17px;
  cursor: pointer;
  border: none;
  border-radius: 0;
  margin: 0 0 0 3px;
  height: 50px;
  width: 200px;
}

.carousel-row {
  margin-top: 6%;
}

.price_tag {
  display: flex;
  justify-content: flex-end;
}

.price_card {
  background-color:  #d87093;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*box-shadow: 2px 2px #888888;*/
}

.price_card_in {
  border: solid 2px #fefefe ;
  border-radius: 100%;
  text-align: center;
  padding: 35px;
  top: 0;
  height: 190px;
  width: 190px;
}
