<section>
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
        [showNavigationIndicators]="showNavigationIndicators" (slide)="onSlide($event)">
        <ng-template ngbSlide [id]="'slideId_' + i" *ngFor="let image of images ; index as i">
            <div class="picsum-img-wrapper">
                <img [src]="image" class="carousel_image overlay" alt="Random slide">
            </div>
            <div class="carousel-caption">
                <div class="row carousel-row">
                    <div class="col-xl-6 col-lg-7 text-white">
                        <span>{{title}}</span>
                        <h2>{{product_name}}</h2>
                        <p>{{product_description}} </p>
                        <br />
                        <button type="button" class="btn discover_button">Discover</button>
                        <button type="button" class="btn add_to_button">Add To Cart</button>
                    </div>
                    <div class="price_tag col-xl-6 col-lg-5">
                        <!-- <div class="price_card">
                            <div class="from">from</div>
                            <div class="price">{{product_amount_from | currency}}</div>
                            <div class="">SHOP NOW</div>
                        </div> -->
                        <div class="offer-card text-white">
                            <span>from</span>
                            <h2>${{product_amount_from}}</h2>
                            <p>SHOP NOW</p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</section>