<app-navbar></app-navbar>

<section class="category-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                <div class="filter-widget">
                    <h2 class="fw-title">Categories</h2>
                    <ul class="category-menu">
                        <li><a [routerLink]="['/women']">women</a></li>
                        <li><a [routerLink]="['/men']">Men</a></li>
                    </ul>
                </div>
                <div class="filter-widget">
                    <h2 class="fw-title">Brand</h2>
                    <ul class="category-menu">
                        <li><a href="#">Abercrombie & Fitch <span>(2)</span></a></li>
                        <li><a href="#">Asos<span>(56)</span></a></li>
                        <li><a href="#">Bershka<span>(36)</span></a></li>
                        <li><a href="#">Missguided<span>(27)</span></a></li>
                        <li><a href="#">Zara<span>(19)</span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-lg-4 col-sm-6" *ngFor="let product of products, index as i">
                        <div class="product-item">
                            <div class="pi-pic">
                                <div class="tag-sale">ON SALE</div>
                                <img [src]="my_images[i]" alt="">
                                <div class="pi-links">
                                    <a (click)="onSelectAddToCart(product.id)" class="add-card"><i>
                                            <mat-icon>add_shopping_cart</mat-icon>
                                        </i><span>ADD TO
                                            CART</span></a>
                                    <a (click)="onSelectProduct(product.id)" class="add-card"><i>
                                            <mat-icon>preview</mat-icon>
                                        </i><span>VIEW ITEM</span></a>
                                    <!-- <a href="#" class="wishlist-btn"><i>
                                            <mat-icon>preview</mat-icon>
                                        </i></a> -->
                                </div>
                            </div>
                            <div class="pi-text">
                                <h6>{{product.price | currency}}</h6>
                                <p>{{product.product_name}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center w-100 pt-3">
                        <button class="site-btn sb-line sb-dark">LOAD MORE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category section end -->
<app-footer></app-footer>