<mat-card>
    <div class="row">
        <div class="col-lg-2 col-md-2 stats">
            <div>Total Customers</div>
            <div>10</div>
        </div>
        <div class="col-lg-2 col-md-2 stats">
            <div>Active Customers</div>
            <div>10</div>
        </div>
        <div class="col-lg-2 col-md-2 stats">
            <div>In Active Customers</div>
            <div>10</div>
        </div>
        <div class="col-lg-2 col-md-2 stats">
            <div>Total Customer Groups</div>
            <div>10</div>
        </div>
        <div class="col-lg-2 col-md-2 stats">
            <div>Active Customer Groups</div>
            <div>10</div>
        </div>
        <div class="col-lg-2 col-md-2 stats">
            <div>In Active Customer Groups</div>
            <div>10</div>
        </div>
    </div>
</mat-card>