<div *ngIf="SubscriptionData.length == 0">No added subscriptions yet</div>
<div *ngIf="SubscriptionData.length > 0" class="filter">
    <mat-form-field>
        <input matInput type="text" (keyup)="applySubscriptionFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>
<div class="subscriptions_table">
    <table mat-table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef><b> Client Email</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="date_subscribed">
            <th mat-header-cell *matHeaderCellDef><b>Date Subsribed</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.timestamp | date: dd:MM:yyyy}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> <b>
                    <div>Action</div>
                </b></th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <mat-icon (click)="confirmDialog(i, element)" class="delete_icon">delete_outline
                </mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedSubscriptionColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedSubscriptionColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" #subscription_paginator="matPaginator"
        showFirstLastButtons (page)="pageEvent = $event">
    </mat-paginator>