<app-product-stats></app-product-stats>
<div class="tabs">
    <mat-card>
        <div class="row">
            <mat-tab-group class="col-md-12">
                <!--Products-->
                <mat-tab label="Products">
                    <app-product-info></app-product-info>
                </mat-tab>
                <!--Categories-->
                <mat-tab label="Categories">
                    <app-category-info></app-category-info>
                </mat-tab>
                <!--Brands-->
                <mat-tab label="Brands">
                    <app-brand-info></app-brand-info>
                </mat-tab>
                <!--Banners-->
                <mat-tab label="Banners">
                    <app-banner-info></app-banner-info>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-card>
</div>