<app-product-stats></app-product-stats>
<div class="tabs">
    <mat-card>
        <div class="row">
            <mat-tab-group class="col-md-12">
                <mat-tab label="Products">
                    <!--Products-->
                    <app-product-info></app-product-info>
                </mat-tab>
                <mat-tab label="Categories">
                    <!--Categories-->
                    <app-category-info></app-category-info>
                </mat-tab>
                <!-- <mat-tab label="Product Options"> Content 3 </mat-tab> -->
                <!--Brands-->
                <mat-tab label="Brands">
                    <app-brand-info></app-brand-info>
                </mat-tab>
                <!-- <mat-tab label="Reviews"> Content 3 </mat-tab> -->
                <!-- <mat-tab label="Promocodes"> Content 3 </mat-tab> -->
            </mat-tab-group>
        </div>
    </mat-card>
</div>