.checkout-form p {
	font-size: 16px;
	color: #414141;
}

.checkout-form h4 {
	font-size: 18px;
	color: #414141;
}

.checkout-form input[type=text] {
	width: 100%;
	height: 44px;
	border: none;
	padding: 0 18px;
	background: #f0f0f0;
	border-radius: 0;
	margin-bottom: 20px;
	font-size: 14px;
}

.checkout-form .save_address_btn {
	border: none;
	color: #fefefe;
	background-color: #d87093;
	font-weight: 400;
    padding: 6px;
    width: 120px;
    margin-right: 10px;
}

.checkout-form .close_btn {
    border: none;
	color: #fefefe;
	background-color: #3498DB ;
	font-weight: 400;
    padding: 6px;
    width: 120px
}

/* .checkout-form .close button {
	border: none;
	color: #fefefe;
	background-color: #d87093;
	font-weight: 400;
	padding: 6px;
} */
