<div class="announce">
    <div class="payments">
        <h2><b>FAST SECURE PAYMENTS</b></h2>
    </div>
    <div class="premium">
        <h2><b>PREMIUM PRODUCTS</b></h2>
    </div>
    <div class="delivery">
        <h2><b>FREE & FAST DELIVERY</b></h2>
    </div>
</div>
<div class="header">
    <h3>TRENDING ITEMS</h3>
</div>
<div class="product-cards">
    <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]">
            <mat-card class="mat-elevation-z0">
                <img mat-card-image class="image" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </mat-card>
        </div>
    </div>
</div>