<div class="card card-plain">
    <div class="card-header card-header-success">
        <h4 class="card-title">Category</h4>
    </div><br />
    <mat-label>Basic Information</mat-label>
    <form class="needs-validation" #f="ngForm">
        <div class="row bg-light">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Category Name" [(ngModel)]="category.category_name"
                        name="category_name" required>
                    <mat-error>{{getCategoryNameErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-select matInput placeholder="parent_category" [(ngModel)]="category.parent_category"
                        name="parent_category">
                        <mat-option value="">Select parent_category</mat-option>
                        <mat-option value="perfume 01">Perfume 01</mat-option>
                        <mat-option value="perfume 02">Perfume 02</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row bg-light">
            <div class="col-md-12">
                <mat-form-field class="example-full-width">
                    <mat-select matInput placeholder="Status" [(ngModel)]="category.status" name="status">
                        <mat-option value="">Select status</mat-option>
                        <mat-option value="active">Active</mat-option>
                        <mat-option value="inactive">In Active</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <button mat-raised-button (click)="onCloseClick()" class="btn btn-round pull-right">Close
        </button>
        <button mat-raised-button type="submit" (click)="updateCategory(category)"
            class="btn btn-success btn-round pull-right">Update
        </button>
    </form>
</div>