<app-navbar></app-navbar>
<!-- checkout section  -->
<section class="checkout-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 order-2 order-lg-1">
				<form class="checkout-form">
					<div class="cf-title d-flex">
						<div class="billing_address_title d-flex align-items-center">Billing Address</div>
						<div class="billing_address_button align-items-center d-flex justify-content-end">
							<button class="billing_btn" type="button" *ngIf="client_addresses.length > 0"
								(click)="updateDeliveryAddressDialog()">Add New Billing
								Address</button>
						</div>
					</div>

					<div class="row" [hidden]="!billing_address_default">
						<div class="col-md-12">
							<input type="text" placeholder="Address" name="physical_address_line_one"
								[(ngModel)]="delivery_address.billing_address.physical_address_line_one" disabled>
							<input type="text" placeholder="Address line 2" name="physical_address_line_two"
								[(ngModel)]="delivery_address.billing_address.physical_address_line_two" disabled>
							<input type="text" placeholder="Country" name="country"
								[(ngModel)]="delivery_address.billing_address.country" disabled>
						</div>
						<div class="col-md-6">
							<input type="text" placeholder="Zip code" name="zip_code"
								[(ngModel)]="delivery_address.billing_address.zip_code" disabled>
						</div>
						<div class="col-md-6">
							<input type="text" placeholder="Phone no." name="contact"
								[(ngModel)]="delivery_address.billing_address.contact" disabled>
						</div>
					</div>

					<!--Billing Addressess Table-->
					<div *ngIf="addresses.length === 0">
						<p>No addresses yet</p>
					</div>
					<table class="table table-hover adrress-table" [hidden]="billing_address_default">
						<thead *ngIf="addresses.length > 0">
							<tr>
								<th class="address-header">Address</th>
								<th class="address-country">Country</th>
								<th class="address-contact">Contact</th>
								<th class="address-radio">Select</th>
							</tr>
						</thead>
						<tbody *ngIf="addresses.length > 0">
							<tr *ngFor="let address of client_addresses">
								<td>{{address.physical_address_line_one}}
									<br /><span>{{address.physical_address_line_two}}</span> </td>
								<td>{{address.country}}</td>
								<td>{{address.contact}}</td>
								<td class="radio-button">
									<input type="radio" name="selected">
								</td>
							</tr>
						</tbody>
					</table>

					<div class="cf-title d-flex">
						<div class="billing_address_title d-flex align-items-center">Delivery Info</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<input type="text" placeholder="Enter Delivery Instructions" name="delivery_instructions"
								[(ngModel)]="order.delivery_instructions">
						</div>
					</div>

					<br />
					<div class="cf-title">Totals</div>
					<div class="row shipping-btns">
						<div class="col-6">
							<h4>Sub Total</h4>
						</div>
						<div class="col-6 total_amount">
							<h4>{{ cart_total_amaount | currency }}</h4>
						</div>
					</div>
					<div class="row shipping-btns">
						<div class="col-6">
							<h4>Delivery Fee</h4>
						</div>
						<div class="col-6 total_amount">
							<h4>{{order.delivery_fee}}</h4>
						</div>
					</div>
					<div class="row shipping-btns">
						<div class="col-6">
							<h4>Total</h4>
						</div>
						<div class="col-6 total_amount">
							<h4>{{ cart_total_amaount + order.delivery_fee | currency }}</h4>
						</div>
					</div>
					<div class="cf-title">Payment</div>
					<ul class="payment-list">
						<div class="row shipping-btns">
							<div class="col-6">
								<li>Paypal<a href="#"><img src="../../../assets/img/paypal.png" alt=""></a></li>
							</div>
							<div class="col-6 total_amount_select">
								<mat-checkbox class="example-margin" (change)="onSelectPaypal($event.checked)">
								</mat-checkbox>
							</div>
						</div>
						<div class="row shipping-btns">
							<div class="col-6">
								<li>Pay on delivery</li>
							</div>
							<div class="col-6 total_amount_select">
								<mat-checkbox class="example-margin" [checked]="cash_type_checked"
									(change)="onSelectCash($event.checked)">
								</mat-checkbox>
							</div>
						</div>
						<div class="cash_payment_method" *ngIf="cash_type_checked">
							<div class="cash_payment_method_choice">
								<div class="method_heading">
									Select Payment Method
								</div>
								<div class="method_select">
								</div>
							</div>
							<div class="cash_payment_method_choice">
								<div class="method_header">
									Cash
								</div>
								<div class="method_select">
									<mat-checkbox class="example-margin" [checked]="cash_channel_checked"
										(change)="onSelectCashChannel($event.checked)">
									</mat-checkbox>
								</div>
							</div>
							<div class="cash_payment_method_choice">
								<div class="method_header">
									Mobile Money
								</div>
								<div class="method_select">
									<mat-checkbox class="example-margin" [checked]="mobile_channel_checked"
										(change)="onSelectMobileChannel($event.checked)">
									</mat-checkbox>
								</div>
							</div>
							<div class="cash_payment_method_choice">
								<div class="method_header">
									Card / Swipe
								</div>
								<div class="method_select">
									<mat-checkbox class="example-margin" [checked]="card_channel_checked"
										(change)="onSelectCardChannel($event.checked)">
									</mat-checkbox>
								</div>
							</div>
						</div>
					</ul>
					<button class="site-btn submit-order-btn" (click)="newOrder(order)">Place
						Order</button>
				</form>
			</div>
			<div class="col-lg-4 order-1 order-lg-2">
				<div class="checkout-cart">
					<h3>Your Cart</h3>
					<ul class="product-list">
						<li *ngFor="let product of products, index as i">
							<div class="pl-thumb"><img [src]="my_images[i]" alt=""></div>
							<h6>{{ product.product_name }}</h6>
							<p>{{ product.price | currency }}</p>
						</li>
					</ul>
					<!-- <ul class="price-list">
						<li>Sub Total<span>{{ cart_total_amaount | currency }}</span></li>
						<li>Shipping<span>free</span></li>
						<li class="total">Total<span>{{ cart_total_amaount + order.delivery_fee | currency }}</span>
						</li>
					</ul> -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- checkout section end -->

<app-footer></app-footer>