<!-- Footer section -->
<section class="footer-section-top">
    <div>
        <p>Trade Alert - Delivering the latest product trends and industry news straight to your inbox.</p>
        <form class="needs-validation" #f="ngForm">
            <div class="subscribe">
                <input type="text" placeholder="Enter Email Address" name="subscribe" [(ngModel)]="subscription.email"
                    required>
                <button type="button" class="btn subscribe_button"
                    (click)="createSubscription(subscription)">Subscribe</button>
            </div>
        </form>
        <p>We’ll never share your email address with a third-party.</p>
    </div>
</section>
<section class="footer-section">
    <div class="footer-content">
        <div class="footer-logo text-center">
            <a href=""><img src="" alt=""></a>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-9">
                <div class="footer-widget contact-widget">
                    <h6>ABOUT</h6>
                    <p>Your perfume might be invisible but it can be the most dominant accessory you wear. In fact,
                        according to psychologists,
                        smell is the sense most closely related to memory. This means your fragrance can help you leave
                        a lasting impression
                        when you need it the most. And with a wide variety of luxurious, designer fragrances available,
                    </p>
                    <img src="img/cards.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="footer-widget about-widget">
                    <h6>INFO</h6>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Men</a></li>
                        <li><a href="">Woman</a></li>
                        <li><a href="">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="footer-widget about-widget">
                    <h6>TRADE SERVICES</h6>
                    <ul>
                        <li><a href="">Trade Assurance</a></li>
                        <li><a href="">Business Identity</a></li>
                        <li><a href="">Logistic Service</a></li>
                        <li><a href="">Payment Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-9">
                <div class="footer-widget contact-widget">
                    <h6>CONTACT</h6>
                    <div class="con-info">
                        <p>Les Scentury (Pvt) Ltd </p>
                    </div>
                    <div class="con-info">
                        <span></span>
                        <p>Bradfield, Bulawayo </p>
                    </div>
                    <div class="con-info">
                        <p>+263 71 863 3585</p>
                    </div>
                    <div class="con-info">
                        <span></span>
                        <p>sales@lesscentury.co.za</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer-section-bootom">
    <div class="social-links-warpsocial-links-warp">

        <div class="container">
            <div class="social-links">
                <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
                <!-- <a href="" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a> -->
                <!-- <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a> -->
                <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
                <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
                <!-- <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a> -->
                <!-- <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a> -->
            </div>

        </div>

        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        <p class="text-center mt-5 copyright"> Copyright &copy; {{this.todays_date.getFullYear()}} LessCentury All
            rights reserved <a href="" target="_blank"></a></p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

    </div>
</section>