.footer-section-top{
  display: flex;
  justify-content: center;
  background-color: #1C2833;
  padding: 20px 0 20px 0;
}

.subscribe{
  display: flex;
}

.subscribe input[type=text] {
  font-size: 17px;
  width: 80%;
  background-color: #EAECEE;
  border: none;
  height: 50px;
}

.message {
   color:#D5D8DC;
   font-size: 14px;
}

.subscribe_button {
  background: #d87093;
  font-size: 17px;
  cursor: pointer;
  border: none;
  margin: 0 0 0 3px;
  height: 50px;
  border-radius: 0;
}

.footer-section {
    background-color: #1C2833;
    color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-section-bootom {
    background-color: #1C2833;
    color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}

.social-links-warpsocial-links-warp{
    width: 80%;
    text-align: center;
    border-top: solid 1px #ABB2B9 ;
    padding-top: 25px;
}

.footer-content {
    width: 80%;
}

.social-links-warp {
    width: 80%;
}

h2 {
  font-size: 20px;
  font-weight: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color:#D5D8DC;
    text-align: justify;
}

.footer-widget ul {
padding-left: 15px;
text-decoration: none;
color: #1C2833;
}

.footer-widget h2 {
    padding-left: 15px;
}


/*Social Media Section*/

.social-links a {
	margin-right: 60px;
	display: inline-block;
}

.social-links a:last-child {
	margin-right: 0;
}

.social-links a i {
	font-size: 30px;
	color: #d7d7d7;
	float: left;
	margin-right: 19px;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.social-links a span {
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #9f9fa0;
	padding-top: 10px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.social-links a.instagram:hover i {
	color: #2F5D84;
}

.social-links a.google-plus:hover i {
	color: #E04B37;
}

.social-links a.twitter:hover i {
	color: #5abed6;
}

.social-links a.pinterest:hover i {
	color: #CD212D;
}

.social-links a.facebook:hover i {
	color: #39599F;
}

.social-links a.twitter:hover i {
	color: #5abed6;
}

.social-links a.youtube:hover i {
	color: #D12227;
}

.social-links a.tumblr:hover i {
	color: #37475E;
}

.social-links a:hover span {
	color: #fff;
}


