<mat-toolbar class="my-toolbar">
    <div class="toolbar-content">
        <img class="logo" src="../../../assets/imgs/lesscentury.jpeg" alt="lesscentury">
    </div>
    <!-- <div class="search">
        <input type="text" placeholder="Search.." name="search">
        <button class="search_button" type="submit"><i class="fa fa-search"></i></button>
    </div> -->
    <div class="search_box">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
 

    <span class="example-spacer"></span>
    <div class="my-nav-links">
        <ul class="nav">
            <li class="top_nav-item">
                <a mat-button class="top_nav-link" [routerLinkActive]="['active']" data-toggle="tab"
                    [routerLink]="['/signin']">
                    <i class="material-icons">perm_identity</i> Sign In
                </a>
            </li>
            <button type="button" class="btn sign_up_button">Sign Up</button>
            <li class="top_nav-item">
                <a mat-button class="top_nav-link" [routerLinkActive]="['active']" data-toggle="tab"
                    [routerLink]="['/cart']">
                    <i class="material-icons">local_mall</i> Cart
                </a>
            </li>
        </ul>
    </div>
</mat-toolbar>

<mat-toolbar class="my-toolbar-secondary nav-bg">
    <div class="my-nav-links-secondary">
        <ul class="nav">
            <li class="nav-item">
                <a mat-button class="nav-link" [routerLinkActive]="['active']" data-toggle="tab"
                    [routerLink]="['/home']">Home
                </a>
            </li>
            <li class="nav-item">
                <a mat-button class="nav-link" [routerLinkActive]="['active']" data-toggle="tab"
                    [routerLink]="['/men']">
                    Men
                </a>
            </li>
            <li class="nav-item">
                <a mat-button class="nav-link" [routerLinkActive]="['active']" data-toggle="tab"
                    [routerLink]="['/women']">
                    Women
                </a>
            </li>
            <li class="nav-item">
                <a mat-button class="nav-link" [routerLinkActive]="['active']" data-toggle="tab"
                    [routerLink]="['/blog']">
                    Blog
                </a>
            </li>
            <li class="nav-item">
                <a mat-button class="nav-link" [routerLinkActive]="['active']" data-toggle="tab"
                    [routerLink]="['/blog']">
                    About Us
                </a>
            </li>
        </ul>
    </div>
</mat-toolbar>